In [1]:
import pandas as pd

In [4]:
headers = ['Ticker',
           'Date',
           'Open',
           'High',
           'Low',
           'Close',
           'Volume',
           'Dividend',
           'Split',
           'Adj_Open',
           'Adj_High',
           'Adj_Low',
           'Adj_Close',
           'Adj_Volume']

In [6]:
df = pd.read_csv('/home/nate/eod_data/EOD_20170812.csv', names=headers)

In [7]:
df.head()

,Ticker,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
0,A,1999-11-18,45.50,50.00,40.00,44.00,44739900.0,0.0,1.0,29.301978,32.199976,25.759981,28.335979,44739900.0
1,A,1999-11-19,42.94,43.00,39.81,40.38,10897100.0,0.0,1.0,27.652504,27.691143,25.636847,26.003915,10897100.0
2,A,1999-11-22,41.31,44.00,40.06,44.00,4705200.0,0.0,1.0,26.603620,28.335979,25.798621,28.335979,4705200.0
3,A,1999-11-23,42.50,43.63,40.25,40.25,4274400.0,0.0,1.0,27.375408,28.103271,25.926121,25.926121,4274400.0
4,A,1999-11-24,40.13,41.94,40.00,41.06,3464400.0,0.0,1.0,25.847439,27.013247,25.763707,26.446446,3464400.0

In [11]:
goog = df[df['Ticker'] == 'GOOG']

In [12]:
goog.shape

(852, 14)

In [14]:
goog.head()

,Ticker,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
11359119,GOOG,2014-03-27,568.000,568.00,552.92,558.46,13100.0,0.0,1.0,568.000,568.00,552.92,558.46,13100.0
11359120,GOOG,2014-03-28,561.200,566.43,558.67,559.99,41100.0,0.0,1.0,561.200,566.43,558.67,559.99,41100.0
11359121,GOOG,2014-03-31,566.890,567.00,556.93,556.97,10800.0,0.0,1.0,566.890,567.00,556.93,556.97,10800.0
11359122,GOOG,2014-04-01,558.710,568.45,558.71,567.16,7900.0,0.0,1.0,558.710,568.45,558.71,567.16,7900.0
11359123,GOOG,2014-04-02,565.106,604.83,562.19,567.00,146700.0,0.0,1.0,565.106,604.83,562.19,567.00,146700.0

In [15]:
path = '/home/nate/eod_data/'
filename = 'goog_eod_20170812.gz.csv'
goog.to_csv(path + filename, compression='gzip', index=False)